.App {
  text-align: center;
}

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #000000;
}
.header a{
  color: #fff;
  text-decoration: none;
}
.register{
  text-align:center;
}

.App-pokemoncontainer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}